<h2 class="text-center"> list of products </h2>

<div  class=" m-3 p-3">
    <label> FilterBy Category</label>
    <select class="form-select" aria-label="Default select example" [(ngModel)]="FilterValue" (change)="FilterProduct()">
    <option value=" " selected>All</option>

    <option   *ngFor="let c of category" [value]="c">{{c}}</option>
    
  </select> </div>
<div class="ontainer-fluid">
    <div class="row p-3"><div class="col-md-3  p-2 m-0" *ngFor="let item of productList ">
        <div class="card p-2" style="width: 100%;" >
            <!-- class="card-img-top" -->
            <img [src]="item.image" style="width:100%"  height="300px" alt="...">
            <div class="card-body p-2">
              <p class="card-text">
                <p> <span>category:</span> {{item.category}}</p>
                <span>title:</span> {{item.title}}
                <span>price:</span> {{item.price}}

            </div>
          </div>
        </div>
    </div>
</div>